{% load static %}

<div class="navbar-brand-box">

    <a href="{% url 'cartes_sanitaires:index' %}" class="logo logo-dark">
        <span class="logo-lg">
            <strong>Carte Sanitaire</strong>
        </span>
    </a>

</div>

<div id="scrollbar">
    <div class="container-fluid">

        <ul class="navbar-nav" id="navbar-nav">

            <li class="menu-title">
                <span>Cartes Sanitaires</span>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'cartes_sanitaires:index' %}">
                    <i class="ri-dashboard-line"></i>
                    Dashboard
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'cartes_sanitaires:liste' %}">
                    <i class="ri-bank-card-line"></i>
                    Liste des cartes
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'cartes_sanitaires:nouvelle' %}">
                    <i class="ri-add-circle-line"></i>
                    Nouvelle carte
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'cartes_sanitaires:qrcode' %}">
                    <i class="ri-qr-code-line"></i>
                    Génération QR Code
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'cartes_sanitaires:impression' %}">
                    <i class="ri-printer-line"></i>
                    Impression
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard:index' %}">
                    <i class="ri-arrow-left-line"></i>
                    Retour aux modules
                </a>
            </li>

        </ul>

    </div>
</div>