{% load static %}
<div class="navbar-brand-box">
    <a href="{% url 'parametrage_general:index' %}" class="logo logo-dark">
        <span class="logo-lg"><strong>Parametrage</strong></span>
    </a>
</div>
<div id="scrollbar">
    <div class="container-fluid">
        <ul class="navbar-nav" id="navbar-nav">
            <li class="menu-title"><span>sites</span></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'patients:index' %}"><i class="ri-file-user-line"></i> Liste des patients</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="ri-add-circle-line"></i> Nouveau dossier</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'dashboard:index' %}"><i class="ri-dashboard-line"></i> Retour tableau de bord</a></li>
        </ul>
    </div>
</div>
